
# This file contains common pin mappings for the BIGTREETECH EBB42
# GEN2 board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB12/PB13)" .
# The "EBB42 GEN2" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBB]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_EBB42_G2-if00
#canbus_uuid=a62a88bb28e3

[temperature_sensor EBB42]
sensor_type: Generic 3950
sensor_pin: EBB:PA0
pullup_resistor: 2200

[lis2dw]
cs_pin: EBB:PB1
spi_bus:spi2_PB2_PB11_PB10
axes_map: x,y,z

[extruder]
step_pin: EBB:PD3
dir_pin: EBB:PD2
enable_pin: !EBB:PB6
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBB:PB0
sensor_type: PT1000 #Rapido temp sensor type
pullup_resistor: 2200
sensor_pin: EBB:PA1
control: pid
min_temp: 0
max_temp: 350

[tmc2209 extruder]
uart_pin: EBB:PB3
run_current: 0.650
#PID parameters for TMC2209 moved to printer.cfg for pid tuning.

#[filament_switch_sensor fil_det]
#switch_pin: EBB:PA3
[filament_switch_sensor APUS2_sensor]
switch_pin: EBB:PB3
pause_on_runout: False
runout_gcode: runout_init
insert_gcode: filament_load_init
event_delay: 0.1 # may be changed to 0 for user with mmu
pause_delay: 0.1

#Part Cooling Fan - PB4 Turned on in firmware to power 4028 fan, PB8 PWM pin for fan speed control
#[heater_fan 3w_fan2]
#pin: EBB:PB4
#tachometer_pin: EBB:PB9

[fan] 
pin: EBB:PB8
pwm: True
cycle_time: 0.0004
hardware_pwm: false
value: 0.05
scale: 255
shutdown_value: 0.0

[heater_fan hotend_fan]
pin: EBB:PB15
heater: extruder
heater_temp: 50.0

#[neopixel hotend_rgb]
#pin: EBB:PB14

#[bltouch]
#sensor_pin: ^!EBB:PA5
#control_pin: EBB:PA4

#[output_pin rled]
#pin:EBB:PA8

#[temperature_sensor BME280]
#sensor_type: BME280
#i2c_mcu: EBB
##i2c_bus: i2c1_PA9_PA10
#i2c_software_scl_pin: EBB:PA9
#i2c_software_sda_pin: EBB:PA10

#endstop_pin: EBB:PA2
#diag_pin: ^EBB:PD1
