# This file provides examples of Klipper G-Code macros.  The snippets
# in this file may be copied into the main printer.cfg file and
# customized.

###################################################################
# Mainsail Pause/Resume/Cancel Variables
###################################################################
## Client variable macro for mainsail custom pause and resume macros. This macro is used to define variables that can be used in the custom pause and resume macros in mainsail. 
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : False ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 625   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 325   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True  ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 625   ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 325   ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 216000     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : "filament_switch_sensor APUS2_sensor"    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
#                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
# !!! Custom macros, please use with care and review the section of the corresponding macro.
# These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
# Only  single line commands are supported, please create a macro if you need more than one command.
variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

######################################################################
# APUS 2 Filament Sensor Macros
######################################################################

[gcode_macro runout_init]
gcode:

    M118 APUS2: Printer paused due to filament runout! 
    PAUSE
    M118 APUS2: Unloading filament...   
    M83
    G92 E0
    G1 E5 F3600     # extract filament fast to clear the nozzle and prevent oozing
    G0 E-95 F300	# continue extraction slow allow filament to be cooled enough before reaches the gears  
    M400   
    M118 APUS2S: Load new filament! Wait until it is loaded, then resume printing.
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0   # switch off heater

    
######################################################################
# PID Tune for Hotend
######################################################################

[gcode_macro PID_TUNE_HOTEND]
description: PID tune extruder at specified temperature
gcode:
    {% set TEMP = params.TEMP|default(220)|float %}
    {% set SAVE = params.SAVE|default(0)|int %}
    {% set homed = printer.toolhead.homed_axes %}

    M117 Starting PID tune at {TEMP}C

    {% if homed != "xyz" %}
        G28
    {% endif %}

    G90
    G1 Z20 F3000

    PID_CALIBRATE HEATER=extruder TARGET={TEMP}

    {% if SAVE == 1 %}
        M117 Saving PID values
        SAVE_CONFIG
    {% else %}
        M117 PID complete - run SAVE_CONFIG to keep values
    {% endif %}

######################################################################
# PID Tune for Bed
######################################################################

[gcode_macro PID_TUNE_BED]
description: PID tune heated bed at specified temperature
gcode:
    {% set TEMP = params.TEMP|default(60)|float %}
    {% set SAVE = params.SAVE|default(0)|int %}

    M117 Starting Bed PID tune at {TEMP}C

    # Ensure bed fan (if any) is in normal state before tuning
    M140 S0
    G4 S2

    PID_CALIBRATE HEATER=heater_bed TARGET={TEMP}

    {% if SAVE == 1 %}
        M117 Saving PID values
        SAVE_CONFIG
    {% else %}
        M117 Bed PID complete - run SAVE_CONFIG to keep values
    {% endif %}

######################################################################
# Auto Input Shaper Calibration
######################################################################

[gcode_macro AUTO_INPUT_SHAPER]
description: Fully automatic input shaper calibration for X and Y
gcode:
    {% set SAVE = params.SAVE|default(0)|int %}
    {% set homed = printer.toolhead.homed_axes %}

    M117 Preparing for Input Shaping

    {% if homed != "xyz" %}
        G28
    {% endif %}

    G90
    G1 Z20 F6000

    M117 Calibrating X axis
    SHAPER_CALIBRATE AXIS=X

    M117 Calibrating Y axis
    SHAPER_CALIBRATE AXIS=Y

    {% if SAVE == 1 %}
        M117 Saving config and restarting
        SAVE_CONFIG
    {% else %}
        M117 Calibration complete - run SAVE_CONFIG to keep results
    {% endif %}

######################################################################
# Calibrate Z-Offset 
######################################################################

[gcode_macro CALIBRATE_Z_OFFSET]
description: Guided Z-offset calibration using PROBE_CALIBRATE
gcode:
    {% set BED_TEMP = params.BED|default(60)|float %}
    {% set NOZZLE_TEMP = params.NOZZLE|default(150)|float %}
    {% set homed = printer.toolhead.homed_axes %}

    M117 Heating for Z calibration
    M140 S{BED_TEMP}
    M104 S{NOZZLE_TEMP}

    M190 S{BED_TEMP}
    M109 S{NOZZLE_TEMP}

    {% if homed != "xyz" %}
        M117 Homing...
        G28
    {% endif %}

    G90
    G1 X{printer.toolhead.axis_maximum.x / 2}
       Y{printer.toolhead.axis_maximum.y / 2}
       Z10 F6000

    M117 Starting PROBE_CALIBRATE
    PROBE_CALIBRATE

######################################################################
# Bed Screws Adjust - Run the SCREWS_TILT_CALCULATE
######################################################################

[gcode_macro BED_SCREWS_ADJUST]
description: Guided Bed Screws Adjust using SCREWS_TILT_CALCULATE
gcode:
    {% set homed = printer.toolhead.homed_axes %}
    
    {% if homed != "xyz" %}
        M117 Homing...
        G28
    {% endif %}
    M117 Starting SCREWS_TILT_CALCULATE
    SCREWS_TILT_CALCULATE

######################################################################
# Bed Mesh Macro - Heat bed, run mesh, and save profile named by temperature
######################################################################

[gcode_macro BED_MESH_AT_TEMP]
gcode:
    {% set BED_TEMP = params.TEMP|default(60)|float %}
    {% set SOAK_TIME = params.SOAK|default(300)|int %}
    {% set PROFILE_NAME = (BED_TEMP|int) ~ "C" %}
    {% set homed = printer.toolhead.homed_axes %}

    M117 Heating bed to {BED_TEMP}C
    M140 S{BED_TEMP}
    M190 S{BED_TEMP}

    M117 Soaking for {SOAK_TIME}s
    G4 S{SOAK_TIME}

    {% if homed != "xyz" %}
        M117 Homing...
        G28
    {% else %}
        M117 Already homed
    {% endif %}

    BED_MESH_CLEAR

    M117 Probing...
    BED_MESH_CALIBRATE

    M117 Saving as {PROFILE_NAME}
    BED_MESH_PROFILE SAVE={PROFILE_NAME}

    M117 Loading {PROFILE_NAME}
    BED_MESH_PROFILE LOAD={PROFILE_NAME}

    M117 Bed mesh complete
      

######################################################################
# BIQU Microprobe Macros
######################################################################

[gcode_macro PROBE_DOWN]
gcode:
    SET_PIN PIN=probe_enable VALUE=1

[gcode_macro PROBE_UP]
gcode:
    SET_PIN PIN=probe_enable VALUE=0

######################################################################
# Park Locations for Print Head
######################################################################

[gcode_macro _PARK_PRINT_START] #Part Park for Start Print - Center Back of Bed
gcode:
    G90
    G1 X325 Y635 F6000 

[gcode_macro _PARK_PRINT_END] #Part Park for End Print - Center Back of Bed
gcode:
    G90
    #Move to Center Back of Printer
    G1 X325 Y635 F6000
    G1 E-3 F1800
    #Move Print Bed Up
    G1 Z1 F3000

[gcode_macro _PARK_PROBE_HOME] #Park for Probe Home - Center of Bed based on probe points
gcode:
    #Park print head center of bed based on the probe
    G90
    G1 X325 Y320 F12000  #

######################################################################
# Purge Lines
######################################################################

[gcode_macro _PURGE_LINES]
    G1 Z20 F3000                   ; move nozzle away from bed
    G1 X375 Y598 Z0.2 F5000.0 		; Move to start position
    G1 X275 Y598 Z0.2 F1500.0 E15 	; Draw the first line
    G1 X275 Y597.6 Z0.2 F5000.0 	; Move to side a little
    G1 X375 Y597.6 Z0.2 F1500.0 E30 	; Draw the second line
    G92 E0 ; Reset Extruder
    G1 Z2.0 F3000 			; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X375 Y575 Z0.3 F5000.0 		; Move over to prevent blob squish

######################################################################
# Start and End Print Macros
######################################################################

[gcode_macro START_PRINT]
gcode:
    # Get Temperature Parameters from Slicer or use defaults
    {% set BED_TEMP = params.BED_TEMP|default(80)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(230)|float %}    
    {% set max_bed = BED_TEMP+28 %}
    {% set min_bed = max_bed-7 %}

    # Preheat Extruder
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={150}
    # Start bed heating
    M140 S{max_bed}   #Heat bed to max temp, and wait in the next line:
    TEMPERATURE_WAIT SENSOR=heater_bed minimum={min_bed} maximum={max_bed}
    m118 "Quick Heatsoak - "{max_bed}
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    m118 "Bed Temp Set - "{BED_TEMP}
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Home the printer, Z-Tilt adjust, and home Z again
    G28 
    Z_TILT_ADJUST 
    G28 Z 
    # Adaptive Bed Mesh Calibration
    BED_MESH_CALIBRATE PROFILE=adaptive ADAPTIVE=1
    #Move to Print_ParK
    _PARK_PRINT_START
    # Set and wait for nozzle to reach temperature
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_TEMP}
    m118 "Extruder Temp Set - "{EXTRUDER_TEMP}
    M109 S{EXTRUDER_TEMP}
    # Prime the nozzle
    _PURGE_LINES
    #Start Print
    M117 Printing...

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    # SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET=0
    M106 S0
    # Move Print Head to Rear and Lift Z
    _PARK_PRINT_END
    # Disable steppers
    _DISABLE_MOTORS_NOT_Z

######################################################################
# Filament Load and Unload Macros
######################################################################

[gcode_macro LOAD_FILAMENT]
variable_load_distance: 80         # Distance to load filament into the extruder
variable_purge_distance: 50        # Distance to purge filament after loading
variable_nozzle_preheat_temp: 230  # Default preheat temperature for the nozzle
variable_turn_off_extruder: True   # Option to turn off the extruder after loading (True/False)
gcode:
    # Parameters and settings
    {% set load_speed = params.LOAD_SPEED|default(600) %}  # Speed in mm/min for fast filament loading
    {% set purge_speed = params.PURGE_SPEED|default(300) %}  # Speed in mm/min for purging filament
    {% set target_temp = params.TARGET_TEMP|default(nozzle_preheat_temp) %}  # Target temperature for the nozzle
    {% set min_temp = params.MIN_TEMP|default(180) %}  # Minimum safe temperature for extrusion

    # Save current state of the printer
    SAVE_GCODE_STATE NAME=load_state

    # Heat directly to the target temperature if it's above the minimum temperature
    {% if target_temp >= min_temp %}
        M104 S{target_temp} ; Set extruder to target temperature
        M109 S{target_temp} ; Wait for extruder to reach target temperature
    {% else %}
        # Heat to minimum temperature first if target is too low
        M104 S{min_temp} ; Set extruder to safe minimum temperature
        M109 S{min_temp} ; Wait for extruder to reach safe minimum temperature
    {% endif %}

    # Begin filament loading process
    G91 ; Set relative positioning for extrusion
    G92 E0 ; Reset extruder position
    G1 E{load_distance} F{load_speed} ; Load filament at the specified loading speed
    G1 E{purge_distance} F{purge_speed} ; Purge filament at the slower purging speed

    # Optionally turn off the extruder heater after loading
    {% if turn_off_extruder %}
        M104 S0 ; Turn off extruder heater
    {% endif %}

    # Restore previous state of the printer
    G90 ; Restore absolute positioning
    RESTORE_GCODE_STATE NAME=load_state

    # Completion message
    M117 Filament load complete

[gcode_macro UNLOAD_FILAMENT]
variable_unload_distance: 100      # Distance to retract filament from the extruder
variable_nozzle_preheat_temp: 230  # Default preheat temperature for unloading
variable_turn_off_extruder: True   # Option to turn off the extruder after unloading (True/False)
gcode:
    # Parameters and settings
    {% set retract_speed = params.RETRACT_SPEED|default(600) %}  # Speed for retracting filament
    {% set target_temp = params.TARGET_TEMP|default(nozzle_preheat_temp) %}  # Target temperature for the nozzle
    {% set min_temp = params.MIN_TEMP|default(180) %}  # Minimum safe temperature for extrusion

    # Save current state of the printer
    SAVE_GCODE_STATE NAME=unload_state

    # Heat the nozzle to the target temperature if required
    {% if printer.extruder.temperature < target_temp %}
        # Ensure the nozzle is heated to the target temperature or at least the minimum safe temperature
        {% if target_temp >= min_temp %}
            M104 S{target_temp} ; Set extruder to target temperature
            M109 S{target_temp} ; Wait for extruder to reach target temperature
        {% else %}
            M104 S{min_temp} ; Set extruder to safe minimum temperature
            M109 S{min_temp} ; Wait for extruder to reach safe minimum temperature
        {% endif %}
    {% endif %}

    # Begin filament unloading process
    G91 ; Set relative positioning for extrusion
    G92 E0 ; Reset extruder position
    G1 E-{unload_distance} F{retract_speed} ; Retract filament at the specified speed

    # Optionally turn off the extruder heater after unloading
    {% if turn_off_extruder %}
        M104 S0 ; Turn off extruder heater
    {% endif %}

    # Restore previous state of the printer
    G90 ; Restore absolute positioning
    RESTORE_GCODE_STATE NAME=unload_state

    # Completion message
    M117 Filament unload complete

######################################################################
# Idle Timeout Changes - Keep Z Motors Enabled.
######################################################################
[idle_timeout] 
timeout: 600
gcode:
    {% if printer.pause_resume.is_paused %}
      SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=idle_state VALUE=True
      {action_respond_info("Idle Timeout: Extruder powered down")}
      M104 S0   ; Set Hot-end to 0C (off)
      SET_IDLE_TIMEOUT TIMEOUT=43200
    {% else %}
        M118 Timeout Reached - Z Motors Still On!
        M117 Timeout Reached - Z Motors Still On!
        _DISABLE_MOTORS_NOT_Z
    {% endif %}

[gcode_macro _DISABLE_MOTORS_NOT_Z]
gcode:
    TURN_OFF_HEATERS
    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0
	SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=0
	SET_STEPPER_ENABLE STEPPER=stepper_x1 ENABLE=0
	SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0
	SET_STEPPER_ENABLE STEPPER=stepper_y1 ENABLE=0
	SET_STEPPER_ENABLE STEPPER=stepper_y2 ENABLE=0
	SET_STEPPER_ENABLE STEPPER=stepper_y3 ENABLE=0
    SET_KINEMATIC_POSITION CLEAR=x,y]

    
######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

# [pause_resume]

# [gcode_macro M600]
# gcode:
#     {% set X = params.X|default(50)|float %}
#     {% set Y = params.Y|default(0)|float %}
#     {% set Z = params.Z|default(10)|float %}
#     SAVE_GCODE_STATE NAME=M600_state
#     PAUSE
#     G91
#     G1 E-.8 F2700
#     G1 Z{Z}
#     G90
#     G1 X{X} Y{Y} F3000
#     G91
#     G1 E-25 F1000
#     RESTORE_GCODE_STATE NAME=M600_state

######################################################################
# Misc Macros for Testing and Calibration
######################################################################

[delayed_gcode WELCOME]
initial_duration: 1
gcode:
  M118 Welcome to F-RACER

[gcode_macro DISABLE_MOTORS]
gcode: M84

[gcode_macro PRESSURE_ADVANCE_TEST]
gcode:
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=1 ACCEL=500
    TUNING_TOWER COMMAND=SET_PRESSURE_ADVANCE PARAMETER=ADVANCE START=0 FACTOR=.005

#Resonance Test
[gcode_macro RESONANCE_TEST]
gcode:
    SET_VELOCITY_LIMIT MINIMUM_CRUISE_RATIO=0
    SET_PRESSURE_ADVANCE ADVANCE=0
    SET_INPUT_SHAPER SHAPER_FREQ_X=0 SHAPER_FREQ_Y=0
    TUNING_TOWER COMMAND=SET_VELOCITY_LIMIT PARAMETER=ACCEL START=1500 STEP_DELTA=500 STEP_HEIGHT=5

#Resonance Test
[gcode_macro RESONANCE_RETEST]
gcode:
    SET_VELOCITY_LIMIT MINIMUM_CRUISE_RATIO=0
    #SET_PRESSURE_ADVANCE ADVANCE=0
    TUNING_TOWER COMMAND=SET_VELOCITY_LIMIT PARAMETER=ACCEL START=1500 STEP_DELTA=500 STEP_HEIGHT=5

#Resonance Test
[gcode_macro RESONANCE_RETEST_HA]
gcode:
    SET_VELOCITY_LIMIT MINIMUM_CRUISE_RATIO=0
    SET_PRESSURE_ADVANCE ADVANCE=0
    TUNING_TOWER COMMAND=SET_VELOCITY_LIMIT PARAMETER=ACCEL START=7500 STEP_DELTA=500 STEP_HEIGHT=5

#Disable Input Shaping
[gcode_macro DISABLE_INPUT_SHAPING]
gcode:
    SET_INPUT_SHAPER SHAPER_FREQ_X=0 SHAPER_FREQ_Y=0

[gcode_macro TEST_RESONANCES_AXIS_Y]
gcode:
    TEST_RESONANCES AXIS=Y

[gcode_macro TEST_RESONANCES_AXIS_X]
gcode:
    TEST_RESONANCES AXIS=X
