
# This file contains common pin mappings for the BIGTREETECH Manta M8P V2.0
# To use this config, the firmware should be compiled for the
# STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)", "CAN bus (on PD0/PD1)" or Serial (on USART1 PA10/PA9).

# See docs/Config_Reference.md for a description of parameters.

#####
#####  Includes  ##########################################################
#####
[include Smart_Sensor.cfg]
[include EBB42.cfg]
[include mainsail.cfg]
[include macros.cfg]

#####
#####  Orca Slicer  ##########################################################
#####

[exclude_object]
[gcode_arcs]
#resolution: 1.0

[force_move]
enable_force_move: True

[respond]
default_type: echo
default_prefix:

#####
#####  Printer Settings  ##########################################################
#####

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 15000
max_z_velocity: 5
max_z_accel: 100

#####
#####  Input Shaping  ##########################################################
#####

[input_shaper]
#shaper_type_x: mzv
#shaper_freq_x: 75.8
#shaper_type_y: mzv
#shaper_freq_y: 56.6

#####
#####  Board Temp Sensors  ##########################################################
#####

[temperature_sensor CB2]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor Manta_M8P]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#####
#####  Manta M8P V2  ##########################################################
#####

[mcu] #Manta M8P V2
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_2C0043001151313531383332-if00
restart_method: command

#####
#####  X Motors  ##########################################################
#####

# Motor1 - Left X Motor
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 128
full_steps_per_rotation: 200
rotation_distance: 40
endstop_pin: EBB42: PB6   #^PF4 Manta Board
position_endstop: 674
position_max: 674
position_min: 0
homing_speed: 60
second_homing_speed: 5
homing_retract_dist: 5

# Motor2 - 
[stepper_x1]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 128
full_steps_per_rotation: 200
rotation_distance: 40
#endstop_pin: ^PF3   #Manta Board

#####
#####  Y Motors  ##########################################################
#####

# Motor3 Left Rear Y Motor
[stepper_y]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PE0
microsteps: 128
full_steps_per_rotation: 200
rotation_distance: 40
endstop_pin: ^PF4
position_endstop: 638
position_max: 638
position_min: 0
homing_speed: 60
second_homing_speed: 5
homing_retract_dist: 5
#endstop_pin: ^PF2    #Manta Board

# Motor4 - Right Rear Y Motor
[stepper_y1] 
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
endstop_pin: ^PF3
microsteps: 128
full_steps_per_rotation: 200
rotation_distance: 40

# Motor5 - Left Front Y Motor
[stepper_y2]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
endstop_pin: ^PF4
microsteps: 128
full_steps_per_rotation: 200
rotation_distance: 40
#endstop_pin: PF0    #Manta Board


# Motor6 - Right Front Y Motor
[stepper_y3]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
endstop_pin: ^PF3
microsteps: 128
full_steps_per_rotation: 200
rotation_distance: 40
#endstop_pin: PC15    #Manta Board


#####
#####  Z Motors  ##########################################################
#####

# Motor7 - Left Z Motor
[stepper_z]
step_pin: PD4
dir_pin: PD3
enable_pin: !PD6
microsteps: 64
rotation_distance: 12
endstop_pin: probe:z_virtual_endstop
position_max: 575
position_min: -5

# Motor8 - Right Z Motor
[stepper_z1]
step_pin: PC7
dir_pin: PC8
enable_pin: !PD2
microsteps: 64
rotation_distance: 12

#####
#####  Bed Probing and Meshing ##########################################################
#####

[output_pin probe_enable]
pin: EBB42:PB9                  # Change this to the Servo/control pin number for your board.       
value: 0

[probe]
pin: ^!EBB42:PB8                # Change this to the Probe/Z- pin number for your board. Remove the ! for V1 probes.
deactivate_on_each_sample: False
x_offset: 0                      # Change the probe offsets to meet your machine requirements.
y_offset: -25
#z_offset: 0.855
speed: 5.0
activate_gcode:
    PROBE_DOWN
    G4 P500
deactivate_gcode:
    PROBE_UP

[safe_z_home] #Probe Position - Probe offset not used
home_xy_position: 325,320
speed: 150
z_hop: 5
z_hop_speed: 15.0

[screws_tilt_adjust] #Nozzle Position - Probe offset used
screw1: 100,120
screw1_name: Front_Left
screw2: 530,120
screw2_name: Front_Right
screw3: 530,530
screw3_name: Back_Right
screw4: 100,530
screw4_name: Back_Left
speed: 200
horizontal_move_z: 5
screw_thread: CW-M4

[z_tilt] #Nozzle Postion - Probe offset used
z_positions: -19, 325
             675, 325
points: 10, 325
        640,325
speed: 200
horizontal_move_z: 5
retries: 10
retry_tolerance: .005

[bed_mesh] #Probe Position - Probe offset used
speed: 200
horizontal_move_z: 5
mesh_min: 10, 10
mesh_max: 640,590
probe_count: 9, 9
mesh_pps: 3, 3
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0
bicubic_tension: 0.2

#####
#####  Heated Bed  ##########################################################
#####

[heater_bed]
heater_pin: PF5
sensor_pin: PB1 # TB
sensor_type: Generic 3950
#control = pid
min_temp: 0
max_temp: 130
#pid_kp = 49.610
#pid_ki = 0.882
#pid_kd = 697.637

#####
#####  Extruders PID ##########################################################
#####

[extruder]
#control: pid
#pid_kp = 29.875
#pid_ki = 5.383
#pid_kd = 41.451

#####
#####  Fan Settings  ##########################################################
#####

[multi_pin my_controller_fan_pins]
pins: PF7, PF9, PF6, PF8

[temperature_fan Controller_Fans]
pin: multi_pin:my_controller_fan_pins
sensor_type: temperature_host
max_temp: 80.0                #Set below 85C, Pi3+ MCU can be damaged at 85C
target_temp: 40               #Set this to your preferred running temperature
min_temp: 0
shutdown_speed: 0.0
kick_start_time: 0.5
off_below: 0.19
max_speed: 1.0
min_speed: 0.2
control: pid
pid_Kp: 2.0
pid_Ki: 5.0
pid_Kd: 0.5
pid_deriv_time: 2.


# [controller_fan controller_fan]
# pin: multi_pin:my_controller_fan_pins
# kick_start_time: 0.5
# fan_speed: 1.0
# stepper: stepper_x, stepper_x1, stepper_y, stepper_y1, stepper_y2, stepper_y3, stepper_z, stepper_z1

#####
#####  TMC2209 configuration  ##########################################################
#####

[tmc2209 stepper_x]
uart_pin: PC13
#diag_pin: PG6
run_current: .9
# stealthchop_threshold: 0
sense_resistor:0.11
interpolate: False
#driver_MULTISTEP_FILT: True
#driver_IHOLDDELAY: 8
#driver_TPOWERDOWN: 20
driver_TBL: 2
driver_TOFF: 2
driver_HEND: 1
driver_HSTRT: 4
#driver_PWM_AUTOGRAD: True
#driver_PWM_AUTOSCALE: True
driver_PWM_LIM: 8
driver_PWM_REG: 4
driver_PWM_FREQ: 1
driver_PWM_GRAD: 8
# driver_PWM_OFS: 36

[tmc2209 stepper_x1]
uart_pin: PE3
#diag_pin: PG9
run_current: .9
# stealthchop_threshold: 0
sense_resistor:0.11
interpolate: False
driver_TBL: 2
driver_TOFF: 2
driver_HEND: 1
driver_HSTRT: 4
#driver_PWM_AUTOGRAD: True
#driver_PWM_AUTOSCALE: True
driver_PWM_LIM: 8
driver_PWM_REG: 4
driver_PWM_FREQ: 1
driver_PWM_GRAD: 8
# driver_PWM_OFS: 36


[tmc2209 stepper_y]
uart_pin: PB9
diag_pin: PG10
run_current: 1.3
stealthchop_threshold: 0
interpolate: False
# driver_TBL: 2
# driver_TOFF: 2
# driver_HEND: 1
# driver_HSTRT: 4
# driver_PWM_AUTOGRAD: True
# driver_PWM_AUTOSCALE: True
# driver_PWM_LIM: 8
# driver_PWM_REG: 4
# driver_PWM_FREQ: 1
# driver_PWM_GRAD: 8
# driver_PWM_OFS: 36
# driver_TBL: 1
# driver_TOFF: 3
# driver_DISS2G: 1
# driver_DISS2VS: 1

[tmc2209 stepper_y1]
uart_pin: PB5
diag_pin: PG11
run_current: 1.3
stealthchop_threshold: 0
sense_resistor:0.11
interpolate: False
# driver_TBL: 2
# driver_TOFF: 2
# driver_HEND: 1
# driver_HSTRT: 4
# driver_PWM_AUTOGRAD: True
# driver_PWM_AUTOSCALE: True
# driver_PWM_LIM: 8
# driver_PWM_REG: 4
# driver_PWM_FREQ: 1
# driver_PWM_GRAD: 8
# driver_PWM_OFS: 36
# driver_TBL: 1
# driver_TOFF: 3
# driver_DISS2G: 1
# driver_DISS2VS: 1

[tmc2209 stepper_y2]
uart_pin: PG14
run_current: 1.3
stealthchop_threshold: 0
sense_resistor:0.11
interpolate: False
# driver_TBL: 2
# driver_TOFF: 2
# driver_HEND: 1
# driver_HSTRT: 4
# driver_PWM_AUTOGRAD: True
# driver_PWM_AUTOSCALE: True
# driver_PWM_LIM: 8
# driver_PWM_REG: 4
# driver_PWM_FREQ: 1
# driver_PWM_GRAD: 8
# driver_PWM_OFS: 36
# driver_TBL: 1
# driver_TOFF: 3
# driver_DISS2G: 1
# driver_DISS2VS: 1

[tmc2209 stepper_y3]
uart_pin: PG10
run_current: 1.3
stealthchop_threshold: 0
sense_resistor:0.11
interpolate: False
# driver_TBL: 2
# driver_TOFF: 2
# driver_HEND: 1
# driver_HSTRT: 4
# #driver_PWM_AUTOGRAD: True
# driver_PWM_AUTOSCALE: True
# driver_PWM_LIM: 8
# driver_PWM_REG: 4
# driver_PWM_FREQ: 1
# driver_PWM_GRAD: 8
# driver_PWM_OFS: 36
# driver_TBL: 1
# driver_TOFF: 3
# driver_DISS2G: 1
# driver_DISS2VS: 1

[tmc2209 stepper_z]
uart_pin: PD5
run_current: 1.0
#stealthchop_threshold: 0
interpolate: false

[tmc2209 stepper_z1]
uart_pin: PC6
run_current: 1.0
#stealthchop_threshold: 0
sense_resistor:0.11
interpolate: false

#####
#####  Misc. Pins  ##########################################################
#####

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#[adxl345]
#cs_pin: PA15
#spi_bus: spi3a

#[bltouch]
#sensor_pin: PD13
#control_pin: PD12

## Proximity switch
#[probe]
#pin: PD8

#[output_pin ps_on_pin]
#pin: PD14

#[neopixel my_neopixel_1]
#pin: PD15

#[hall_filament_width_sensor]
#adc1: PC0
#adc2: PF10

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 1.190
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.150000, -0.081563, -0.038438, -0.008438, -0.030938, -0.013125, -0.033750, 0.026250, -0.005625
#*# 	  -0.105000, -0.074063, -0.009375, 0.020625, 0.010312, -0.027188, -0.007500, 0.009375, 0.019687
#*# 	  -0.081563, -0.045938, 0.017812, 0.009375, 0.012187, -0.003750, -0.019688, 0.059062, -0.001875
#*# 	  -0.118125, -0.088125, 0.045000, -0.294375, -0.028125, -0.040313, -0.016875, 0.020625, -0.032813
#*# 	  -0.031875, -0.093750, 0.010312, 0.001875, -0.294375, -0.042188, -0.002813, -0.001875, -0.026250
#*# 	  -0.108750, -0.085313, -0.011250, -0.034688, -0.043125, -0.032813, -0.040313, 0.019687, -0.023438
#*# 	  -0.002813, -0.079688, -0.019688, -0.009375, -0.018750, -0.004688, -0.006563, 0.018750, -0.020625
#*# 	  -0.043125, -0.050625, 0.006562, 0.000937, -0.000938, 0.010312, -0.015000, -0.003750, -0.030000
#*# 	  -0.075000, -0.083438, -0.030000, 0.015937, -0.011250, -0.034688, -0.076875, -0.060938, -0.058125
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 640.0
#*# min_y = 10.0
#*# max_y = 590.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.674
#*# pid_ki = 2.502
#*# pid_kd = 513.363
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 33.977
#*# pid_ki = 5.961
#*# pid_kd = 48.417
