
# This file contains common pin mappings for the BIGTREETECH Manta M8P V2.0
# To use this config, the firmware should be compiled for the
# STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)", "CAN bus (on PD0/PD1)" or Serial (on USART1 PA10/PA9).

# See docs/Config_Reference.md for a description of parameters.

#####
#####  Includes  ##########################################################
#####
[include mainsail.cfg]
[include EBB42-G2.cfg]
[include macros.cfg]

#####
#####  Orca Slicer  ##########################################################
#####

[exclude_object]
[gcode_arcs]
#resolution: 1.0

[force_move]
enable_force_move: True

[respond]
default_type: echo
default_prefix:

#####
#####  Printer Settings  ##########################################################
#####

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 15000
max_z_velocity: 25
max_z_accel: 100

#####
#####  Input Shaping  ##########################################################
#####

[input_shaper]
#shaper_type_x: mzv
#shaper_freq_x: 75.8
#shaper_type_y: mzv
#shaper_freq_y: 56.6

#####
#####  Board Temp Sensors  ##########################################################
#####

[temperature_sensor CB2]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor Manta_M8P]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#####
#####  Manta M8P V2  ##########################################################
#####

[mcu] #Manta M8P V2
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_MANTA-M8P-if00
restart_method: command

#####
#####  X Motors  ##########################################################
#####

# Motor1 - Left X Motor
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 128
full_steps_per_rotation: 200
rotation_distance: 40
endstop_pin: EBB: PA2   #^PF4 Manta Board
position_endstop: 674
position_max: 674
position_min: 0
homing_speed: 60
second_homing_speed: 5
homing_retract_dist: 5

# Motor2 - 
[stepper_x1]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 128
full_steps_per_rotation: 200
rotation_distance: 40
#endstop_pin: ^PF3   #Manta Board

#####
#####  Y Motors  ##########################################################
#####

# Motor3 Left Rear Y Motor
[stepper_y]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PE0
microsteps: 128
full_steps_per_rotation: 200
rotation_distance: 40
endstop_pin: ^PF4
position_endstop: 638
position_max: 638
position_min: 0
homing_speed: 60
second_homing_speed: 5
homing_retract_dist: 5
#endstop_pin: ^PF2    #Manta Board

# Motor4 - Right Rear Y Motor
[stepper_y1] 
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
endstop_pin: ^PF3
microsteps: 128
full_steps_per_rotation: 200
rotation_distance: 40

# Motor5 - Left Front Y Motor
[stepper_y2]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
endstop_pin: ^PF4
microsteps: 128
full_steps_per_rotation: 200
rotation_distance: 40
#endstop_pin: PF0    #Manta Board


# Motor6 - Right Front Y Motor
[stepper_y3]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
endstop_pin: ^PF3
microsteps: 128
full_steps_per_rotation: 200
rotation_distance: 40
#endstop_pin: PC15    #Manta Board


#####
#####  Z Motors  ##########################################################
#####

# Motor7 - Left Z Motor
[stepper_z]
step_pin: PD4
dir_pin: PD3
enable_pin: !PD6
microsteps: 64
rotation_distance: 12
endstop_pin: probe:z_virtual_endstop
position_max: 600
position_min: -5

# Motor8 - Right Z Motor
[stepper_z1]
step_pin: PC7
dir_pin: PC8
enable_pin: !PD2
microsteps: 64
rotation_distance: 12

#####
#####  Bed Probing and Meshing ##########################################################
#####

[output_pin probe_enable]
pin: EBB:PA4 #PD12                   # Change this to the Servo/control pin number for your board.       
value: 0

[probe]
  pin: ^EBB:PA5  #^!EBB:PA5     #^!PD13          # Change this to the Probe/Z- pin number for your board. Remove the ! for V1 probes.
deactivate_on_each_sample: False
x_offset: 0                      # Change the probe offsets to meet your machine requirements.
y_offset: -25
#z_offset: 0.855
speed: 5.0
#samples: 2
activate_gcode:
    PROBE_DOWN
    G4 P500
deactivate_gcode:
    PROBE_UP

[safe_z_home] #Probe Position - Probe offset not used
home_xy_position: 325,300
speed: 150
z_hop: 5
z_hop_speed: 15.0

[screws_tilt_adjust] #Nozzle Position - Probe offset used
screw1: 100,120
screw1_name: Front_Left
screw2: 530,120
screw2_name: Front_Right
screw3: 530,530
screw3_name: Back_Right
screw4: 100,530
screw4_name: Back_Left
speed: 200
horizontal_move_z: 5
screw_thread: CW-M4

[z_tilt] #Nozzle Postion - Probe offset used
z_positions: -19, 325
             675, 325
points: 10, 325
        640,325
speed: 200
horizontal_move_z: 5
retries: 10
retry_tolerance: .005

[bed_mesh] #Probe Position - Probe offset used
speed: 400
horizontal_move_z: 5
mesh_min: 10, 10
mesh_max: 640,590
probe_count: 15, 15
mesh_pps: 3, 3
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0
bicubic_tension: 0.2

#####
#####  Filamenmt Runout #####################################################
#####

[filament_switch_sensor runout_sensor]
switch_pin: !PF2
pause_on_runout: False
runout_gcode: PAUSE_AFTER_D D=1100 # Pause the print after 600mm of extrusion after the runout is detected.

#####
#####  Heated Bed  ##########################################################
#####

[heater_bed]
heater_pin: PF5
sensor_pin: PB1 # TB
sensor_type: Generic 3950
#control = pid
min_temp: 0
max_temp: 130
#pid_kp = 49.610
#pid_ki = 0.882
#pid_kd = 697.637

#####
#####  Extruders PID ##########################################################
#####

[extruder]
#control: pid
#pid_kp = 29.875
#pid_ki = 5.383
#pid_kd = 41.451

#####
#####  Fan Settings  ##########################################################
#####

[multi_pin my_controller_fan_pins]
pins: PF7, PF9, PF6, PF8

[temperature_fan Controller_Fans]
pin: multi_pin:my_controller_fan_pins
sensor_type: temperature_host
max_temp: 80.0                #Set below 85C, Pi3+ MCU can be damaged at 85C
target_temp: 40               #Set this to your preferred running temperature
min_temp: 0
shutdown_speed: 0.0
kick_start_time: 0.5
off_below: 0.19
max_speed: 1.0
min_speed: 0.3
control: pid
pid_Kp: 2.0
pid_Ki: 5.0
pid_Kd: 0.5
pid_deriv_time: 2.


# [controller_fan controller_fan]
# pin: multi_pin:my_controller_fan_pins
# kick_start_time: 0.5
# fan_speed: 1.0
# stepper: stepper_x, stepper_x1, stepper_y, stepper_y1, stepper_y2, stepper_y3, stepper_z, stepper_z1

#####
#####  TMC2209 configuration  ##########################################################
#####

[tmc2209 stepper_x]
uart_pin: PC13
#diag_pin: PG6
run_current: .9
# stealthchop_threshold: 0
sense_resistor:0.11
interpolate: False
#driver_MULTISTEP_FILT: True
#driver_IHOLDDELAY: 8
#driver_TPOWERDOWN: 20
driver_TBL: 2
driver_TOFF: 2
driver_HEND: 1
driver_HSTRT: 4
#driver_PWM_AUTOGRAD: True
#driver_PWM_AUTOSCALE: True
driver_PWM_LIM: 8
driver_PWM_REG: 4
driver_PWM_FREQ: 1
driver_PWM_GRAD: 8
# driver_PWM_OFS: 36

[tmc2209 stepper_x1]
uart_pin: PE3
#diag_pin: PG9
run_current: .9
# stealthchop_threshold: 0
sense_resistor:0.11
interpolate: False
driver_TBL: 2
driver_TOFF: 2
driver_HEND: 1
driver_HSTRT: 4
#driver_PWM_AUTOGRAD: True
#driver_PWM_AUTOSCALE: True
driver_PWM_LIM: 8
driver_PWM_REG: 4
driver_PWM_FREQ: 1
driver_PWM_GRAD: 8
# driver_PWM_OFS: 36


[tmc2209 stepper_y]
uart_pin: PB9
diag_pin: PG10
run_current: 1.3
stealthchop_threshold: 0
interpolate: False
# driver_TBL: 2
# driver_TOFF: 2
# driver_HEND: 1
# driver_HSTRT: 4
# driver_PWM_AUTOGRAD: True
# driver_PWM_AUTOSCALE: True
# driver_PWM_LIM: 8
# driver_PWM_REG: 4
# driver_PWM_FREQ: 1
# driver_PWM_GRAD: 8
# driver_PWM_OFS: 36
# driver_TBL: 1
# driver_TOFF: 3
# driver_DISS2G: 1
# driver_DISS2VS: 1

[tmc2209 stepper_y1]
uart_pin: PB5
diag_pin: PG11
run_current: 1.3
stealthchop_threshold: 0
sense_resistor:0.11
interpolate: False
# driver_TBL: 2
# driver_TOFF: 2
# driver_HEND: 1
# driver_HSTRT: 4
# driver_PWM_AUTOGRAD: True
# driver_PWM_AUTOSCALE: True
# driver_PWM_LIM: 8
# driver_PWM_REG: 4
# driver_PWM_FREQ: 1
# driver_PWM_GRAD: 8
# driver_PWM_OFS: 36
# driver_TBL: 1
# driver_TOFF: 3
# driver_DISS2G: 1
# driver_DISS2VS: 1

[tmc2209 stepper_y2]
uart_pin: PG14
run_current: 1.3
stealthchop_threshold: 0
sense_resistor:0.11
interpolate: False
# driver_TBL: 2
# driver_TOFF: 2
# driver_HEND: 1
# driver_HSTRT: 4
# driver_PWM_AUTOGRAD: True
# driver_PWM_AUTOSCALE: True
# driver_PWM_LIM: 8
# driver_PWM_REG: 4
# driver_PWM_FREQ: 1
# driver_PWM_GRAD: 8
# driver_PWM_OFS: 36
# driver_TBL: 1
# driver_TOFF: 3
# driver_DISS2G: 1
# driver_DISS2VS: 1

[tmc2209 stepper_y3]
uart_pin: PG10
run_current: 1.3
stealthchop_threshold: 0
sense_resistor:0.11
interpolate: False
# driver_TBL: 2
# driver_TOFF: 2
# driver_HEND: 1
# driver_HSTRT: 4
# #driver_PWM_AUTOGRAD: True
# driver_PWM_AUTOSCALE: True
# driver_PWM_LIM: 8
# driver_PWM_REG: 4
# driver_PWM_FREQ: 1
# driver_PWM_GRAD: 8
# driver_PWM_OFS: 36
# driver_TBL: 1
# driver_TOFF: 3
# driver_DISS2G: 1
# driver_DISS2VS: 1

[tmc2209 stepper_z]
uart_pin: PD5
run_current: 1.3
#stealthchop_threshold: 0
interpolate: false

[tmc2209 stepper_z1]
uart_pin: PC6
run_current: 1.3
#stealthchop_threshold: 0
sense_resistor:0.11
interpolate: false

#####
#####  Misc. Pins  ##########################################################
#####

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#[adxl345]
#cs_pin: PA15
#spi_bus: spi3a

#[bltouch]
#sensor_pin: PD13
#control_pin: PD12

## Proximity switch
#[probe]
#pin: PD8

#[output_pin ps_on_pin]
#pin: PD14

#[neopixel my_neopixel_1]
#pin: PD15

#[hall_filament_width_sensor]
#adc1: PC0
#adc2: PF10

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 0.704
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.180561, -0.093374, -0.031499, 0.012564, 0.006939, -0.005249, -0.054936, -0.038999, -0.067124
#*# 	-0.098999, -0.033374, 0.027564, 0.080064, 0.077251, 0.021939, 0.005064, -0.012749, -0.047436
#*# 	-0.053999, 0.015376, 0.098814, 0.096939, 0.085689, 0.069751, 0.032251, 0.061314, -0.046499
#*# 	-0.084936, -0.013686, 0.147564, 0.075376, 0.066001, 0.050064, 0.050064, 0.046314, -0.060561
#*# 	0.002251, -0.015561, 0.063189, 0.078189, 0.075376, 0.047251, 0.075376, 0.016314, -0.063374
#*# 	-0.082124, -0.005249, 0.098814, 0.073501, 0.069751, 0.059439, 0.027564, 0.040689, -0.069936
#*# 	0.006001, -0.031499, 0.048189, 0.071626, 0.068814, 0.059439, 0.039751, 0.001314, -0.107436
#*# 	-0.053999, -0.030561, 0.055689, 0.071626, 0.069751, 0.068814, 0.010689, -0.042749, -0.146811
#*# 	-0.119624, -0.079311, -0.003374, 0.045376, 0.024751, -0.008061, -0.093374, -0.135561, -0.182436
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 640.0
#*# min_y = 10.0
#*# max_y = 590.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.674
#*# pid_ki = 2.502
#*# pid_kd = 513.363
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 36.927
#*# pid_ki = 6.155
#*# pid_kd = 55.390
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 72.0
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 57.6
#*#
#*# [bed_mesh 60C]
#*# version = 1
#*# points =
#*# 	-0.180561, -0.093374, -0.031499, 0.012564, 0.006939, -0.005249, -0.054936, -0.038999, -0.067124
#*# 	-0.098999, -0.033374, 0.027564, 0.080064, 0.077251, 0.021939, 0.005064, -0.012749, -0.047436
#*# 	-0.053999, 0.015376, 0.098814, 0.096939, 0.085689, 0.069751, 0.032251, 0.061314, -0.046499
#*# 	-0.084936, -0.013686, 0.147564, 0.075376, 0.066001, 0.050064, 0.050064, 0.046314, -0.060561
#*# 	0.002251, -0.015561, 0.063189, 0.078189, 0.075376, 0.047251, 0.075376, 0.016314, -0.063374
#*# 	-0.082124, -0.005249, 0.098814, 0.073501, 0.069751, 0.059439, 0.027564, 0.040689, -0.069936
#*# 	0.006001, -0.031499, 0.048189, 0.071626, 0.068814, 0.059439, 0.039751, 0.001314, -0.107436
#*# 	-0.053999, -0.030561, 0.055689, 0.071626, 0.069751, 0.068814, 0.010689, -0.042749, -0.146811
#*# 	-0.119624, -0.079311, -0.003374, 0.045376, 0.024751, -0.008061, -0.093374, -0.135561, -0.182436
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 640.0
#*# min_y = 10.0
#*# max_y = 590.0
